<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IranName"
        tools:targetApi="31">
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".shops.ShopActivity"
            android:exported="false"
            android:label="@string/title_activity_shop"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".traditions.TraditionsActivity"
            android:exported="false"
            android:label="@string/title_activity_traditions"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".litrature.LitratuerActivity"
            android:exported="false"
            android:label="@string/title_activity_litratuer"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".landmarks.LandmarksActivity"
            android:exported="false"
            android:label="@string/title_activity_landmarks"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".account.AccountActivity"
            android:exported="false"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.IranName" />
        <activity
            android:name=".mainmenu.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IranName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>